<% content_for :title, t("views.report_template_items.edit_title") %>

<div class="page-header mb-4 pb-3 border-bottom">
  <h2><%= t("views.shared.page_titles.edit_item") %></h2>
  <p><%= @report_template.name %></p>
</div>

<%= render "form", item: @item %>
